<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title> SMIRNOFF vs ABSOLUT </title>
<script src="http://code.jquery.com/jquery.min.js"></script>
<link rel="stylesheet" href="assets/main.css" />
</head>
<body>

	<!-- Wrapper -->
		<div id="wrapper">
			<header id="header">
				<a href="#wrapper"> <h1> 현재 Result: 20%(10, 스미노프) vs 80%(10, 앱솔루트)	</h1> </a>
			</header>

			<section id="main">
				<section class="votes">
							<div id="smirnoffAlone"> <img src="img/smirnoff.png" alt="" /> </div>
					<div>
						<h2>
						  </br> <div id="emphasis"> 2015년 국내점유율 24.3%(스미노프) vs 65.6%(앱솔루트) </div> </br>
						  </br> <div id="emphasis"><strong> 세계 보드카 시장 1위 스미노프 </strong> </div> </br>
							&middot; 2014년 전세계 스미노프 판매량이 앱솔루트 판매량의 <strong> 약 2.5배 </strong> </br>
							&middot; 2005년 뉴욕타임즈 주최 블라인드테스트에서 <strong>가장 뛰어난 보드카로 선정</strong> </br>
							&middot; <strong>스미노프 22,000원</strong> 앱솔루트 33,000원(주류백화점 기준) </br>
							</br>
							<div id="emphasis"> <strong> 그런데 왜? </strong> </br> </br>
							<strong> 마케팅관리 8조의 발표를 기대하세요! </strong> </div>
						</h2>
					</div>
				</section>
			</section>

			<footer id="footer">
				<p>&copy; Untitled. All rights reserved. Design: Seunggyu Lee. Images: Unsplash.</p>
			</footer>

	</div>

<script>
	/**스크롤이 설정한 높이 이상 내려갔을때 스타일추가하기**/
	if (jQuery(window).width() > 0) {
    jQuery(window).on("scroll",function(ev){
        if(jQuery(window).scrollTop() > 150 ) { /**높이 픽셀 조정**/
            jQuery('.menu_box').addClass('fixed');  /**위의 높이에서 .fixed 클래스를 추가합니다. 스타일에서 자유롭게 수치 조절 가능합니다.**/
        }
        else{
			jQuery('.menu_box').removeClass('fixed');
        }
        return false;
    });
	}

	/**마우스 부드럽게 해당위치로 이동**/
	$(function(){
	   $('a[href^=#]').click(function() {
		  var speed = 800;
		  var href= $(this).attr("href");
		  var target = $(href == "#" || href == "" ? 'html' : href);
		  var position = target.offset().top;
		  $('body,html').animate({scrollTop:position}, speed, 'swing');
		  return false;
	   });
	});
</script>

</body>
</html>
